In [9]:
import pandas as pd

adslab_df= pd.read_csv('/home/cut6089/research/OC22/adslab_df.csv')
target_df = adslab_df[(adslab_df['nads']==1)& (adslab_df['ads_symbols']=='O')][['traj_id', 'mean_ads_e']]
target_df = target_df[abs(target_df['mean_ads_e']) <  5 ]
target_df.columns = ['name','target']
target_df = target_df.reset_index()
target_df

      index                                        name    target
0        34      Cs2WO4_mp-752508_q2LIx25MFt_A7ogTpKrR4 -2.801060
1        70    Ti4Bi2O11_mp-28962_OitnAPNXpx_RqGWjofnf8 -0.761461
2        72   V2Bi24O41_mp-758482_OARADZvYfb_ZvZhw5yER2  2.550149
3       120      TiV2O7_mp-752445_uKnEucKTuK_4kcKrNSw9L -0.074723
4       142   Sc2Cu2O5_mp-1219443_QYwAA5UCky_MXZAg9pcV4  0.917049
...     ...                                         ...       ...
1203  38975        Cr2O3_mp-19399_UlsREUZbrP_W67ItO8Hu8  0.081881
1204  39001  GeRhO4_GeRhO4-rutile_ojwRnNo9PL_8er4th0leK -2.765407
1205  39025   Mn-CoO2-4_mp-757157_L5pQhckfER_719SwKITbx  3.003108
1206  39077    Cs4FeO3_mp-1205381_YZadZqjRWr_7YM6P13RRf  1.213697
1207  39090    Na10Zn4O9_mp-36165_rUSfI9HCXz_BXam6a6YIn  2.975744

[1208 rows x 3 columns]